doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 首页
    link(rel="icon" href="/assets/images/favicon.ico")
    script(src='/libs/jquery/dist/jquery.min.js' type="text/javascript")
    link(rel='stylesheet', href='/libs/normalize.css/normalize.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')

    link(rel='stylesheet', href='/assets/style/main.css')
    link(rel='stylesheet', href='/assets/style/index.css')
  body
    .app.app-index
      include ./pages/template/navigater
      .app-container.index-container
        .row
          .col-lg-12.col-md-12.col-sm-12
            .index-photo
              //img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2810%29.jpg")
              img(src="/assets/images/1.png")
        .index-photo2
          .row
            .col-lg-6.col-md-6.col-sm-6
              .index-photo2-item
                //img(src="http://bywedding.oss-cn-shanghai.aliyuncs.com/1%20%2823%29.jpg")
                img(src="/assets/images/2.png")
            .col-lg-6.col-md-6.col-sm-6
              .index-photo2-item
                img(src="/assets/images/3.png")
                //img(src="http://bywedding.oss-cn-shanghai.aliyuncs.com/1%20%2815%29.jpg")
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              .index-photo2-item
                img(src="/assets/images/4.png")
                //img(src="http://bywedding.oss-cn-shanghai.aliyuncs.com/1%20%2832%29.jpg")
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              .index-photo2-item
                img(src="/assets/images/5.png")
                //img(src="http://bywedding.oss-cn-shanghai.aliyuncs.com/1%20%2834%29.jpg")
      include ./pages/template/footer
