doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 故事
    link(rel="icon" href="/assets/images/favicon.ico")
    script(src='/libs/jquery/dist/jquery.min.js' type="text/javascript")
    link(rel='stylesheet', href='/libs/normalize.css/normalize.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')

    link(rel='stylesheet', href='/assets/style/timeline.css')

    link(rel='stylesheet', href='/assets/style/main.css')
    link(rel='stylesheet', href='/assets/style/story.css')
  body
    .app.app-story
      include pages/template/navigater
      .app-container.story-container
        .page-header
          .story-title 我们的故事
        .story-content
          .story-block-image-wrap
            img(src="/assets/images/5.png")
            p.story-img-desc
              | 图片描述
          .story-desc
            .story-image-wrap
              img(src="/assets/images/1.png")
            p
              | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
              | 从整体上来说，中国的投资机构并不缺钱，而是缺好
          .story-desc
            .story-image-wrap
              img(src="/assets/images/2.png")
            p
              | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
              | 从整体上来说，中国的投资机构并
          p
            | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
            | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
          p 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
          p 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
        .page-header
          .story-title 标题2
        .story-content
          p
            | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
            | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
          p 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
          p 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
        .page-header
          .story-title 标题3
        .story-content
          p
            | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
            | 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
          p 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车
          p 从整体上来说，中国的
        //ul.timeline
          li
            .timeline-badge
              //img(src="/assets/images/1.png")
              //i.glyphicon.glyphicon-check
            .timeline-panel
              .timeline-heading
                h4.timeline-title 马云的无人超市可能要让你失望了
                p
                  small.text-muted
                    i.glyphicon.glyphicon-time
                    |  11 hours ago via Twitter
              .timeline-body
                p
                  | 今年6月初，一家叫“缤果盒子”（BingoBox）的无人收银便利店登陆上海，号称全球第一款真正意义上的可规模化复制的24小时无人值守便利店。7月3日，“缤果盒子”宣布完成超过1亿元人民币的A轮融资，领投方为GGV纪源资本，启明创投、源码资本、银泰资本等机构跟投。
          li.timeline-inverted
            .timeline-badge.warning
              //img(src="/assets/images/2.png")
              //i.glyphicon.glyphicon-credit-card
            .timeline-panel
              .timeline-heading
                h4.timeline-title 马云的无人超市可能要让你失望了
              .timeline-body
                p 从整体上来说，中国的投资机构并不缺钱，而是缺好的项目，无人超市其实是一个可以给投资人讲出动听故事的好项目，如果热钱涌入，八成也会出现共享单车般的现象和问题，经历过阵痛之后，行业会洗牌，无人超市和目前传统超市进行比较好的结合，人与机器会进行比较好的配合，提供更好的服务。
          li
            .timeline-badge.danger
              //img(src="/assets/images/3.png")
              //i.glyphicon.glyphicon-credit-card
            .timeline-panel
              .timeline-heading
                h4.timeline-title 马云的无人超市可能要让你失望了
              .timeline-body
                p
                  | 然而，用互联网模式玩线下零售，任重而道远，线下各位便利店的经营者的目光其实就在零售的毛利润或者净利润上，如果人工智能不能很好的解决他们经营的成本问题，他们对无人超市的改造的支持力度也不会很大，难道巨头们把他们全部吃掉自己经营？
          //li.timeline-inverted
            .timeline-panel
              .timeline-heading
                h4.timeline-title 马云的无人超市可能要让你失望了
              .timeline-body
                p
                  | 美国零售巨头亚马逊就曾在2016年推出过无人便利店AmazonGo，但仍局限在亚马逊西雅图总部供员工测试使用，不对外开发。创新工场曾宣布完成对F5未来商店的3000万元A+轮融资。娃哈哈也宣布要打造无人便利店。
          li
            .timeline-badge.info
              //img(src="/assets/images/4.png")
              //i.glyphicon.glyphicon-floppy-disk
            .timeline-panel
              .timeline-heading
                h4.timeline-title 马云的无人超市可能要让你失望了
              .timeline-body
                p
                  | 美国零售巨头亚马逊就曾在2016年推出过无人便利店AmazonGo，但仍局限在亚马逊西雅图总部供员工测试使用，不对外开发。创新工场曾宣布完成对F5未来商店的3000万元A+轮融资。娃哈哈也宣布要打造无人便利店。
          //li
            .timeline-panel
              .timeline-heading
                h4.timeline-title 马云的无人超市可能要让你失望了
              .timeline-body
                p
                  | 哈哈 嘻嘻 嘻嘻is bolis eu num gostis.
                p
                  | 哈哈 嘻嘻 嘻嘻is bolis eu num gostis.
          li.timeline-inverted
            .timeline-badge.success
              //img(src="/assets/images/5.png")
              //i.glyphicon.glyphicon-thumbs-up
            .timeline-panel
              .timeline-heading
                h4.timeline-title 马云的无人超市可能要让你失望了
              .timeline-body
                p
                  | 最后，巨头们不是为了做零售而做无人超市，无人超市作为巨头们零售布局的部分，关键还是在于数据的攫取，通过用户零售数据，可以做很多文章，例如精准营销，例如大数据征信，而在数据领域创造的价值比所谓的零售毛利润更高。
      include pages/template/footer