doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 故事
    link(rel="icon" href="/assets/images/love.ico")
    script(src='/libs/jquery/dist/jquery.min.js' type="text/javascript")
    link(rel='stylesheet', href='/libs/normalize.css/normalize.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')

    link(rel='stylesheet', href='/assets/style/main.css')
    link(rel='stylesheet', href='/assets/style/photo.css')
  body
    .app.app-photo
      include pages/template/navigater
      .app-container.photo-container
        .row
          .col-lg-12.col-md-12.col-sm-12
            .photo-item
              img(src="/assets/images/1.jpg")
        //.row
          .col-lg-12.col-md-12.col-sm-12
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%281%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2810%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2811%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2812%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2813%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2814%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2815%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2816%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2817%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2818%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2819%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%282%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2820%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2821%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2822%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2823%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2824%29.jpgg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2825%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2826%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2827%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2828%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2829%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%283%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2830%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2831%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2832%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2833%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2834%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2835%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2836%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2837%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2838%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2839%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%284%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2840%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2841%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2842%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2843%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2844%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%2845%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%285%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%286%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%287%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%288%29.jpg")
            .photo-item
              img(src="http://ovhlnzz8r.bkt.clouddn.com/1%20%289%29.jpg")
      include pages/template/footer