.app-index{
  .index-banner{
    background-color: #f2f2f2;
    .banner-left{
      padding-top:10%;
      text-align: center;
      h2{
        margin-top:20%;
         color:#333;
         font-size:48px;
         font-weight: bold;
      }

      p{
        margin:0;
        padding:0;
        font-size:14px;
        color:#777;
      }
    }

    .banner-right{
      width:100%;
      img{
        width:100%;
      }
    }
  }
}