.app-footer
  .we-are-together
    p WE ARE TOGETHER
.back-top
  button#topBtn(type="button" onclick="gotoTop();")
  //p.bottom-line.text-center 没有更多了
script(src='/libs/bootstrap/dist/js/bootstrap.min.js' type="text/javascript")
script(src='/libs/jquery-lazyload/jquery.lazyload.js' type="text/javascript")
script(src="/assets/js/app.js" type="text/javascript")