.app-footer
  .we-are-together
    p.text-uppercase we are together
.back-top
  button#topBtn(type="button" onclick="gotoTop();")
script(src='/libs/bootstrap/dist/js/bootstrap.min.js' type="text/javascript")
script(src='/libs/jquery-lazyload/jquery.lazyload.js' type="text/javascript")
script(src="/assets/js/app.js" type="text/javascript")