nav.navbar.navbar-default(role='navigation')
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only collapse
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //a.navbar-brand(href='/') WEDDING
      a.navbar-brand(href='/') WEDDING
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li.nav-index
          a(href='/') 首页
        li.nav-photo
          a(href='/photo.html') 照片
        li.nav-story
          a(href='/story.html') 故事
        li.nav-invitation
          a(href='/invitation.html') 请柬
.nav-min
  a.nav-index(href="/") 首页
  a.nav-photo(href='/photo.html') 照片
  a.nav-story(href='/story.html') 故事
  a.nav-invitation(href='/invitation.html') 故事
